


    


<link rel="stylesheet" href="/stylesheets/about.css">


<body>

    <!-- about section start -->
  
    <section class="about-text" id="about">
        <div class="max-width">
            <h1 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                   <img src="/images/me.jpg" class="img-thumbnail" alt="about me">
                </div>
                <div class="columnRight">
                    <div class="text">I'm Yakshi and I'm a <span class="typing-2"></span></div>
                    <p>Computer Programmer. Have efficient skills in web development. Hands-on experience with both front-end as well as a back-end developer. Worked on projects including a user-friendly web app with a complete payment checkout. Familiar with programming languages like Java, JavaScript, HTML, CSS, SQL along with some frameworks. Which you can take a look at below.</p>
                    <a href="/images/YakshiGandhi_resume_latest(co-op).pdf">Download CV</a>
                </div>
            </div>
        </div>
    </section>



</body>


