<link rel="stylesheet" href="/stylesheets/contact.css">


<body>


    <!-- contact section start -->
    <h1 class="contact-text">Contact</h1>
    <h2 class="text-center">Feel free to contact me for more information, kindly fill the form below!</h2>

    <section class="contactPage">


        <form class="formContent">

            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label">Your Name*</label>
                <div class="col-sm-9">
                    <input type="name" class="form-control" id="inputName" placeholder="Jennifer Johnson">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email*</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="example@example.com">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputMessage" class="col-sm-3 col-form-label">Message*</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                        placeholder="Please write your message here!">
                    </textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3"><small>Field with asterisk (*) are must filled.</small></label>
                <button type="submit" class="btn btn-outline-dark col-sm-3">Submit</button>
            </div>

        </form>


        <section class="contactInfo">
            <h4 class="contact-headings">Contact info</h4>
            <hr>
            <aside class="shortspace"></aside>

            <div>
                <img src="/images/call.png" alt="Calling Logo">
                <p>
                    <a href="tel:+17057701686">+1(705)770-1686</a>
                </p>
            </div>

            <div>
                <img src="/images/email.png" alt="Email Logo" id="emailLogo">
                <p>
                    <a href="mailto:gandhiyakshi123@gmail.com">gandhiyakshi123@gmail.com</a>
                </p>
            </div>

            <div>
                <img src="/images/location.jpg" alt="Location Logo">
                <p>
                    <a href="https://www.google.com/maps/place/100+Kozlov+St,+Barrie,+ON+L4N+4P9/@44.4068952,-79.7122678,17z/data=!3m1!4b1!4m5!3m4!1s0x882aa2e9a693306f:0xf03d1eb31ba32649!8m2!3d44.4068952!4d-79.7100791"
                        target="_blank">100 Kozlov St, Barrie, ON L4N 4P9</a>
                </p>
            </div>

            <aside class="shortspace"></aside>

        </section>

    </section>

</body>