
<link rel="stylesheet" href="/stylesheets/index.css">


<body>

    {{!-- <img class="img-fluid">
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div> --}}


    <!-- home section start -->
        <section class="intro-text">
            <h1>Yakshi Gandhi</h1>
            <p>I am a Computer Programming student and this is my portfolio website.</p>
            <a href="/about" class="btn btn-default btn-lg ">Learn More</a>
            <a href="/contact" class="btn btn-default btn-lg ">Contact Me</a>
        </section>
</body>


