<link rel="stylesheet" href="/stylesheets/projects.css">


<body>

    <!-- aprojects section start -->

    <section class="projects-text" id="projects">
        <div class="max-width">
            <h1 class="title">Here are some Projects</h2>

                <section>

                    {{!--********************************************************--}}

                    <section class="project1">

                        <div class="contentImg">
                            <img src="/images/myntra.jpg" alt="Can't load Image">
                            </a>
                        </div>

                        <div class="projectContent">
                            <h2>Myntra Dataset - JavaFX Application (May 2022 – August 2022)</h2>
                            <h3>Built a GUI that will allow users to read information from a MySQL database and display
                                it in a table View and as chart data.</h3>
                            <p class="description">
                                ▪ Created a model class according to the Myntra dataset that included in the MySQL
                                database <br>
                                ▪ Connect the application to AWS MySQL Server and populate both the views <br>
                                ▪ Added functionality to switch the views and applied some CSS to make it visually
                                nice<br>
                            </p>
                            <a href="https://github.com/gandhiyakshi123/Assignment1-GC200482015" target="_blank"><button
                                    class="btnToGit">Take a peek on Source Code</button></a>
                        </div>

                    </section>

                    {{!--*******************************************************--}}

                    <section class="project2">

                        <div class="contentImg">
                            <img src="/images/cinephilia.png" alt="Can't load Image">
                            </a>
                        </div>

                        <div class="projectContent">
                            <h2>Cinephilia – My Movies wish Lists (ASP.NET) (May 2022 – August 2022)</h2>
                            <h3>Developed a website to keep lists of favourite movies using ASP.NET MVC pattern.</h3>
                            <p class="description">
                                ▪ Utilized model class to create tables in MS SQL Server by applying migrations <br>
                                ▪ Performed CRUD operations and added third-party authentication and deployed it on
                                Azure <br>
                                ▪ Added Swagger API and perform unit testing for a few methods <br>
                            </p>
                            <a href="https://github.com/gandhiyakshi123/Cinephilia" target="_blank"><button
                                    class="btnToGit">Take a peek on Source Code</button></a>
                        </div>

                    </section>

                    {{!--*******************************************************--}}

                    
                    <section class="project3">

                        <div class="contentImg">
                            <img src="/images/seeNsayStorymaker.jpg" alt="Can't load Image">
                            </a>
                        </div>

                        <div class="projectContent">
                            <h2>See N Say Storymaker (May 2022 – August 2022)</h2>
                            <h3>Emulated a classic toy with a web app.</h3>
                            <p class="description">
                                ▪ Created proper structure using HTML, CSS and JavaScript <br>
                                ▪ Added JavaScript code that offers a creative solution to the application requirements <br>
                                ▪ Added other innovative or imaginative elements of the script that go beyond the basic application requirements <br>
                                ▪ Created button "textToSpeak" that actually convert text into voice <br>
                            </p>
                            <a href="https://github.com/gandhiyakshi123/see-n-say-storymaker" target="_blank"><button
                                    class="btnToGit">Take a peek on Source Code</button></a>
                        </div>

                    </section>

                    {{!--*******************************************************--}}

                                        
                    <section class="project4">

                        <div class="contentImg">
                            <img src="/images/movieReviews.png" alt="Can't load Image">
                            </a>
                        </div>

                        <div class="projectContent">
                            <h2>My Movies reviews APIs (May 2022 – August 2022)</h2>
                            <p class="description">
                                ▪ Built a webpage that displays articles according to the search term provided, by calling an API in JavaScript. <br>
                            </p>
                            <a href="https://github.com/gandhiyakshi123/Movies-Reviews-Api" target="_blank"><button
                                    class="btnToGit">Take a peek on Source Code</button></a>
                        </div>

                    </section>

                    {{!--*******************************************************--}}

                                                            
                    <section class="project5">

                        <div class="contentImg">
                            <img src="/images/to-do-list.jpg" alt="Can't load Image">
                            </a>
                        </div>

                        <div class="projectContent">
                            <h2>My-TO-DO-LISTS (May 2022 – August 2022)</h2>
                            <p class="description">
                                ▪ A task list (using JavaScript, CSS, HTML) is a prioritized list of items that need to be completed within a specific amount of time, often in the immediate future. <br>
                            </p>
                            <a href="https://github.com/gandhiyakshi123/My-TO-DO-LISTS" target="_blank"><button
                                    class="btnToGit">Take a peek on Source Code</button></a>
                        </div>

                    </section>

                    {{!--*******************************************************--}}

                </section>
        </div>

    </section>

</body>