
/* About page Style */

body{
  background-color: aquamarine;
}

img{
    width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
  font-family: 'Poly', serif;
text-align: center;
padding: 20px;
font-size: xx-large;
font-weight: bolder;
text-decoration: solid;
}

.columnRight
{

}
