/* About page Style */

body {
  color: #cfcfcf ;
  background-color: aquamarine;
}
.about-text{
  color: black;
}
h1 {
  text-align: center;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;

}

section {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro1 {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: justify;
  max-width: 100vw;
  padding: 20px;
  border-bottom: 1px solid black;
  place-items: center;
}

.columnLeft {
  align-self: center;
}

img {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
}


.columnRight {
  margin-bottom: auto;
  text-align: center;
}

.columnRight h1 {
  font-size: 2vw;
}

.columnRight p {
  margin: 6px;
  font-size: 1vw;

}

h2 {
  text-align: center;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.intro2 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.child {
  margin: 10px;
  text-align: center;

}

.child img {
  height: 15vh;
  width: 7vw;
  border-radius: 50%;
}

.child img:hover {
  height: 14vh;
  width: 6vw;
  transform: scale(1.4);
  filter: brightness(1);
}

.child p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.intro3 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

h3{
  border-bottom: 1px solid black;
}