
/* Home Style */
body {

	background: url('/images/home-pic.jpeg') no-repeat ;
	/* background-position: fixed;*/
	background-size: cover; 
    backdrop-filter: blur(3px);
	color: #cfcfcf ;
	background-position-y: top;
	background-position-x: center;
	/* position: relative; */
    height: 100vh;
    width: 100vw;
}

.intro-text {
	position: relative;
	padding-top: 200px;
	padding-right: 0;
	padding-left: 100px;
	padding-bottom: 0px;
}

H1 {
    font-family: 'Cinzel Decorative';
	font-size: 50px;
	color: #f8f405;
    scrollbar-highlight-color: #ef114d;
	font-weight: bolder;
    text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.intro-text p {
	color: rgba(89, 239, 30, 0.8);
    font-family: 'Cinzel Decorative';
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 60px;
	padding: 0 10px;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(243, 21, 21);
}

.btn-default {
	color: #ef114d;
	border: 3px solid #ef114d;
    font-family: 'Cinzel Decorative';
	border-radius: 4px;
    font-weight: bold;
	margin: 0 8px;
	font-size: 22px;
	transition: all 0.5s;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #ef114d;
	border: 3px solid #ef114d;
    font-family: 'Cinzel Decorative';
	color: #eeeeee;
} 
/** 
.intro-text 
.color {
	color: #71bd46;
	font-weight: 700;
}
*/