body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #ffffff;
}
 footer {
	background-color: #222222;
	position: fixed;
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;	
}

footer p {
  color: #cfcfcf;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
  font-family: 'Libre Baskerville', serif;
}

footer div{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer i{
    color: #3ad2b6;
    font-size: 25px;
    margin: 0px 15px;
    margin-bottom: 30px;
    /* filter: invert(1); */
}
footer a:hover{
    background-color: rgb(53, 36, 36);
}
footer i:hover{
    cursor: pointer;
    font-size: 20px;
    transition: ease-in 0.2s;
	color: aquamarine;
}
