body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
  
}


 footer {
	background-color: #222222;
	position: fixed;
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;	
}

footer p {
	font-size: 13px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

footer div{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer i{
    color: #3ad2b6;
    font-size: 25px;
    margin: 0px 15px;
}
footer a:hover{
    background-color: rgb(245, 243, 243);
}
footer i:hover{
    cursor: pointer;
    font-size: 30px;
    transition: ease-in 0.2s;
	color: aquamarine;
}

/* @media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 15% 10%;
}
} */
